# Copyright (C) 2025 The Nameless-CLO Project
# SPDX-License-Identifier: Apache-2.0

service vendor.nameless_vibratorExt /vendor/bin/hw/vendor.nameless.hardware.vibratorExt-service.default
    class hal
    user system
    group system
